.toggle-div {
  color: var(--color-day-black);
}
.toggle-switch {
  position: relative;
  /* width: 75px; */
  width: 60px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--color-toggle-border);
  border-radius: 20px;
  height: 28px;
  width: 55px;
  margin-left: 6px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: var(--color-day-white);
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "";
  padding-left: 10px;
  background-color: var(--color-day-yellow);
  color: var(--color-day-white);
}
.inner:after {
  content: "";
  padding-right: 10px;
  background-color: var(--color-day-greydark);
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 19px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 24px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 2px;
}


@media screen and (max-width:480px) {
  .toggle-div {
    display: none;
  }
}


