.horizon {
  padding: 1.5rem 0rem;
}

.horizon-left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-forecasts-card);
  padding: 4px 20px;
  border-radius: 5px;
}

.horizon-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizon-left h3 {
  color: var(--color-day-black);
}

.divider-icon {
  margin: 0 15px;
  color: var(--color-day-greydark);
}

.hours-list ul {
  display: flex;
  list-style: none;
}

.hours-list li {
  border-radius: 4px;
  padding: 3px 1rem;
  font-size: 13px;
  margin: 0 4px;
  color: var(--color-day-black);
  background-color: var(--color-day-greydark);
  font-weight: 600;
  cursor: pointer;
}

.hours-list li:hover {
  background-color: var(--color-day-yellow);
  color: black;
}

.hours-list .active {
  background-color: var(--color-day-yellow);
  color: black;
}

.hours-list .active1 {
  background-color: var(--color-day-yellow);
  color: black;
}

.hours-list .active2 {
  background-color: var(--color-day-yellow);
  color: black;
}

.hours-list .active3 {
  background-color: var(--color-day-yellow);
  color: black;
}

.hours-list .active4 {
  background-color: var(--color-day-yellow);
  color: black;
}

.hours-list .active5 {
  background-color: var(--color-day-yellow);
  color: black;
}

.hours-list .active6 {
  background-color: var(--color-day-yellow);
  color: black;
}

.hours-list .active7 {
  background-color: var(--color-day-yellow);
  color: black;
}

.hours-list .active8 {
  background-color: var(--color-day-yellow);
  color: black;
}

.horizon-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.currency-search {
  margin-right: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .horizon-left {
    padding: 4px 12px;
  }

  .hours-list li {
    padding: 2px 0.7rem;
    border-radius: 3px;
    font-size: 11px;
    margin: 0 3px;
    font-weight: 500;
  }
}

@media screen and (max-width: 775px) {
  .horizon {
    padding: 1rem 0rem;
  }

  .horizon-right {
    display: none;
  }

  .horizon-left {
    width: 100%;
  }

  .horizon-left h3 {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {

  .horizon {
    padding: 1rem 0rem 0.8rem 0rem;
    justify-content: center;
    align-items: center;
  } 

  .horizon-left {
    padding: 0rem 0rem 0rem 0rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* margin-bottom: 1rem; */
    background-color: transparent;
    flex-direction: column;
    width: 25%;
    margin-right: 0.4rem;
  }

  .horizon-right {
    width: 100%;
    align-self: center;
    justify-content: flex-start;
    display: flex;
  }

  .horizon-row {
    justify-content: flex-start;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
  }

  .divider-icon {
    display: flex;
    align-items: center;
    background-color: var(--color-day-yellow);
    color: var(--color-day-black);
    padding: 0.1rem 0.4rem;
    border-radius: 4px;
  }

  .divider-icon p {
    margin-top: 0;
    padding-right: 5px;
  }

  .dd-ico {
    width: 12px;
  }

  .horizon-left h3 {
    font-weight: 300;
  }

  .all-horizon {
    margin: 6px 0px !important;
  }
}
