.live-pnl .container {
  padding: 1rem 0rem 2.4rem 0rem;
}

.live-pnl-stats-div {
  width: 100%;
  border-top: 1px solid var(--color-stats-bg);
  border-bottom: 1px solid var(--color-stats-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.4rem;
  padding: 0.8rem 0rem;
}
.live-pnl-stats-div-2 {
  width: 100%;
  border-top: 1px solid var(--color-stats-bg);
  border-bottom: 1px solid var(--color-stats-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: 1.4rem;
  padding: 0.8rem 0rem;
}
.divider-div-pnl-live {
  width: 1px;
  height: 30px;
  background-color: var(--color-stats-bg);
  margin: 0 1rem;
}

.strategies-live-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.overall-live {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--color-forecasts-card); */
  /* padding: 0.6rem 0.8rem;
    border-radius: 3px; */
}

.overall-live-stats {
  width: 100%;
  /* margin-right: 1rem; */
}

.strategy-live-stats {
  width: 100%;
  /* margin-left: 1rem; */
}

.overall-live-stats .live-stats {
  color: var(--color-day-red);
}

.strategy-live-stats .live-stats {
  color: var(--color-day-green);
}

.strategy-live-stats a {
  color: var(--color-day-black);
}

.link-icon-div {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

.pnl-live-main {
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-forecasts-card);
  padding: 1rem 1.2rem;
  border-radius: 3px;
}

.pnl-live-main-strategies {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-forecasts-card);
  padding: 1rem 1.2rem;
  border-radius: 3px;
}

.live-state-ml-web {
  margin-left: 0.4rem;
  width: 100%;
}
.live-state-ml-web-2 {
  margin-left: 0.4rem;
  width: 20%;
}

.for-h3-mb h3 {
  margin-bottom: 0.6rem;
}

.pnl-live-main h3 {
  margin-bottom: 0.6rem;
}

.strategies-color a {
  color: var(--color-day-black) !important;
  text-decoration: none !important;
}


.live-pnl-table {
  width: 100%;
  border: 0;
  background-color: var(--color-forecasts-card);
  margin-top: 2rem;
  padding: 0.8rem;
}

.live-pnl-table-data {
  padding: 0.3rem 0.5rem;
}

.live-pnl-table-head {
  padding: 0.3rem 0.6rem;
}

.live-pnl-table-data p {
  margin-top: 0;
  font-size: 13px;
}

.for-border-bottom {
  border-bottom: 2px solid var(--color-day-black);
}

@media screen and (max-width: 768px) {
  .live-pnl .container {
    padding: 0.2rem 0rem 0rem 0rem;
  }

  .live-pnl-stats-div {
    flex-direction: column;
    border-top: none;
    border-bottom: none;
    margin-top: 0.4rem;
  }
  .live-pnl-stats-div-2 {
    flex-direction: column;
    border-top: none;
    border-bottom: none;
    margin-top: 0.4rem;
  }

  .overall-live-stats {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.8rem;
  }

  .divider-div-pnl-live {
    display: none;
  }

  .strategies-live-stats {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .strategy-live-stats {
    margin-left: 0;
    margin-bottom: 0.8rem;
    width: 95%;
  }

  .live-state-ml {
    margin-left: 0.4rem;
  }

  .pnl-live-main {
    width: 100%;
    margin-bottom: 0.8rem;
    padding: 1.2rem 1.2rem 0.2rem 1.2rem;
  }

  .pnl-live-main-strategies {
    width: 96%;
    padding: 1.2rem 1.2rem 0.2rem 1.2rem;
  }

  .live-state-ml-web {
    margin-left: 0rem;
  }

  .mb-mobile {
    margin-bottom: 0.6rem;
  }

  .ml-mobile {
    margin-left: 0.3rem;
  }

  /* .overall-live {
        flex-direction: column;
    } */
}
