.live-pnl .container {
    padding: 3rem 0rem 1rem 0rem;
}

.live-pnl-stats-div {
    width: 100%;
    border-top: 1px solid var(--color-stats-bg);
    border-bottom: 1px solid var(--color-stats-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.4rem;
    padding: 0.8rem 0rem;
}

.divider-div-pnl-live {
    width: 1px;
    height: 30px;
    background-color: var(--color-stats-bg);
    margin: 0 1rem;
}

.strategies-live-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.overall-live {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-forecasts-card);
    padding: 0.6rem 0.8rem;
    border-radius: 3px;
}

.overall-live-stats {
    width: 16%;
    margin-right: 1rem;
}

.strategy-live-stats {
    width: 100%;
    margin-left: 1rem;
}

.overall-live-stats .live-stats {
    color: var(--color-day-red);
}

.strategy-live-stats .live-stats {
    color: var(--color-day-green);
}


.strategy-live-stats a {
    color: var(--color-day-black);
}

@media screen and (max-width: 768px) {

    .live-pnl .container {
        padding: 0.2rem 0rem 0rem 0rem;
    }

    .live-pnl-stats-div {
        flex-direction: column;
        border-top: none;
        border-bottom: none;
        margin-top: 0.4rem;
    }

    .overall-live-stats {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.8rem;
    }

    .divider-div-pnl-live {
        display: none;
    }

    .strategies-live-stats {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .strategy-live-stats {
        margin-left: 0;
        margin-bottom: 0.8rem;
        width: 95%;
    }

    .live-state-ml {
        margin-left: 0.4rem;
    }

    /* .overall-live {
        flex-direction: column;
    } */


}