.performance-graphs .container {
  padding: 2rem 0rem 3rem 0rem;
}

.for-performance-legends {
  justify-content: flex-end !important;
  margin-bottom: 0.8rem;
}

.performance-graphs-main {
  margin-bottom: 5rem;
}

.for-mb-returns {
  margin-bottom: 1.8rem;
}


.inter-grad {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.inter-grad-sep {
  display: flex;
  align-items: center;
}

.inter-grad-sep p {
  margin-top: 0;
  font-weight: 500;
  /* margin-right: 0.6rem; */
}

.ml-inter-grad {
  margin-left: 1.2rem;
}

.ml-inner-inter-grad {
  margin-left: 0.4rem;
}


.fw-inter-grad {
  font-weight: 400;
}

.portfolio-indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inter-grad-indicators {
  display: flex;
  align-items: center;
}

.c-pnl {
  color: #16C784;
  font-weight: 900;

}

.c-moving {
  color: #FDD835;
  font-weight: 900;
}

.mr-inter-grad {
  margin-right: 0.8rem;
}

@media screen and (max-width: 568px) {
  .performance-graphs-main {
    margin-bottom: 2rem;
  }

  .performance-graphs .container {
    padding: 2rem 0rem 1.4rem 0rem;
  }

  .for-mb-returns {
    margin-bottom: 0.8rem;
    margin-top: 1.8rem;
  }

  .portfolio-indicators {
    flex-direction: column;
    align-items: unset;
  }

  .inter-grad-indicators {
    margin-top: 0.8rem;
  }

  .inter-grad {
    margin-top: 0.6rem;
  }
}


.performance-graphs {
  width: 100%;
}



/* .performance-graphs-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
