.registraion .container {
  padding: 4rem 0rem;
}

.registration-wrapper {
  display: flex;
}

.left {
  flex: 1;
  background: var(--color-forecasts-card);
  width: 453px;
  height: 580px;
  border-radius: 19px;
  display: flex;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right {
  flex: 1;
  width: 453px;
  height: 580px;
  display: flex;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 2rem;
}

.api-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  /* margin-top: 6%; */

  line-height: 30px;
  text-align: center;

  color: var(--color-day-black);
}

.api-heading2 {
  margin-top: 6%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.025em;
  text-transform: capitalize;

  color: var(--color-day-black);
}

.api-img {
  /* width: 453px;
  height: 429px; */

  border-radius: 16px;
}
.api-heading3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 158.52%;
  /* or 24px */

  text-align: center;
  letter-spacing: -0.025em;
  text-transform: capitalize;

  color: var(--color-day-black);
}
.api-paragraph3 {
  margin-top: 2%;
  width: 90%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  line-height: 158.52%;
  /* or 24px */

  text-align: center;
  letter-spacing: -0.025em;
  /* text-transform: capitalize; */

  color: var(--color-day-black);
}
.api-info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  margin-top: 3%;
  text-align: center;
  letter-spacing: -0.025em;
  text-transform: capitalize;

  color: #fdd835;
}
.img_div {
  width: 75%;
  height: 50%;
  /* height: 100%; */
  background: var(--forecasts-model-index);
  border-radius: 10px;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputDiv {
  display: flex;
  margin-top: 3%;
  border-radius: 20;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.btn-api {
  width: 174px;
  height: 41px;
  margin-top: 2rem;
  background: #fdd835;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btn-div {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
