.back-test .container {
    padding: 4rem 0rem 3rem 0rem;
}

.backtest-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.4rem;
}

.flex-display {
    display: flex;
    align-items: center;
}

.flex-display h3 {
    margin-right: 0.6rem;
}

.backtest-btn-page {
    margin-top: 1.4rem;
    padding: 0.8rem;
    border-radius: 4px;
    width: 10%;
}

.backtest-btn-page a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backtest-btn-page p {
    margin-top: 0;
}

.for-flex-end {
    width: 100%;
    display: flex;
    justify-content: end;
}

.justify-content {
    display: flex;
    justify-content: space-between;
}

.backtest-for-mobile {
    display: none;
}

.backtest-for-web {
    display: flex;
}

.sec-2 {
    margin-top: 1rem;
}

@media screen and (max-width: 668px) {
    .date-picker {
        margin-right: 0.8rem;
    }

    .loss-input {
        margin-right: 0.8rem;
    }

    .flex-display h3 {
        margin-right: 0.3rem;
    }
}

@media screen and (max-width: 768px) {
    .backtest-for-mobile {
        display: block;
    }

    .backtest-for-web {
        display: none;
    }

    .backtest-btn-page {
        width: 45%;
    }

    .for-flex-end {
        justify-content: start;
    }
}