.contact .container {
  padding: 4rem 0rem;
}

.contact-heading {
  text-align: center;
}

.contact-form-div {
  display: flex;
  justify-content: top;
  align-items: center;
  width: 100%;
  flex-direction: column;
  /* margin-left: 2rem; */
}
.btn-contact {
  margin-top: 1.4rem;
  width: 174px;
  height: 41px;
  background: var(--color-day-yellow);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
