.contact-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 4rem;

  color: var(--color-day-black);
}
.contact-form-div {
  display: flex;
  justify-content: top;
  align-items: center;
  width: 100%;
  flex-direction: column;
  /* margin-left: 2rem; */
}
.btn-contact {
  margin-top: 2rem;
  width: 174px;
  height: 41px;
  background: #fdd835;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 4rem;
}
