.contact .container {
  padding: 4rem 0rem;
}

.contact-heading {
  text-align: center;
}

.contact-form-div {
  display: flex;
  justify-content: top;
  align-items: center;
  width: 100%;
  flex-direction: column;
  /* margin-left: 2rem; */
}
.btn-contact {
  margin-top: 1.4rem;
  width: 174px;
  height: 41px;
  background: var(--color-day-yellow);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.inputDiv textarea {
  min-height: 90px;
  padding: 7.5px 4px 7.5px 6px !important;
  background-color: var(--color-forecasts-card) !important;
  color: var(--color-day-black) !important;
  font-size: 12px!important;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.inputDiv textarea:focus {
  border: none;
  outline: 2px solid var(--color-day-yellow);
}
