.footer {
    background-color: var(--color-day-white);
    border-top: 2.5px solid var(--color-footer-border );
}

.footer .container{
    padding: 2rem 0rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-img {
    width: 230px;
    padding-left: 2px;
    margin-bottom: 1.5rem;
}

.footer-inner-left {
    width: 100%;
}

.footer-inner-left h2 {
    color: var(--color-day-yellow);
    font-size: 18px;
}

.footer-inner-left p {
    width: 80%;
    padding-left: 2px;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: var(--color-day-black);
}

.footer-copyright-text {
    /* margin-top: 1.5rem; */
    font-size: 10px !important;
    letter-spacing: 2px;

    color: var(--color-footer-cr) !important;
}

.footer-inner-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3.5rem;
}

.footer-btn {
    margin-bottom: 15px;
}

.footer-icons-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons {
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    color: var(--color-day-yellow);
}

.dis {
    /* color: #5865F2; */
    margin-left: 15px !important;
}

/* .twi {
    color: #00acee;
}

.tele {
    color: #0088CC;
} */

.footer-more {
    visibility: hidden !important;
}

.footer-ann-h h2 {
    background-color: transparent !important;
    color: var(--color-day-yellow) !important;
    padding: 0 !important;
    font-size: 18px !important;
}

.footer-card {
    background-color: transparent !important;
    height: 100% !important;
    padding: 0 !important;
}

.footer-news-inner {
    justify-content: flex-start !important;
    padding-top: 0.5rem !important;
}

.footer-bar-container {
    padding: 1rem 0rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.for-footer-bar {
    margin-top: 0 !important;
}

.inner-footer-bar {
    justify-content: flex-end !important;
    align-items: center !important;
}

.footer-follow-text {
    font-size: 11px !important;
    color: var(--color-footer-cr) !important;
    margin-top: 0 !important;
    letter-spacing: 3px;
}

.disclaimer-text {
    text-align: justify;
}

@media screen and (max-width: 688px) {
    .footer .container {
        padding: 0;
    }

    .footer .container {
        flex-direction: column-reverse;
    }

    .footer-logo-div {
        display: none;
    }

    .footer-inner-right {
        margin-top: 2.2rem;
        margin-bottom: 2rem;
    }

    .footer-inner-left p {
        width: 100%;
        font-size: 10px;
    }

    .for-footer-bar {
        margin-bottom: 0.4rem;
    }

    .footer-news-inner {
        justify-content: center !important;
        padding-top: 1rem !important;
    }

    .footer-copyright-text {
        text-align: center;
    } 
}


@media screen and (max-width: 568px) {
    .footer .container {
        padding: 0;
    }

    .footer .container {
        flex-direction: column-reverse;
    }

    .footer-logo-div {
        display: none;
    }

    .footer-inner-right {
        margin-top: 2.2rem;
        margin-bottom: 2rem;
    }

    .footer-inner-left p {
        width: 100%;
        font-size: 10px;
    }

    .for-footer-bar {
        margin-bottom: 0.4rem;
    }

    .footer-news-inner {
        justify-content: center !important;
        padding-top: 1rem !important;
    }

    .footer-copyright-text {
        text-align: center;
    } 
}