.login .container {
  padding: 7rem 1rem;
}

form:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: 1;
  background-color: var(--color-day-white);
  border-radius: 22px;
  display: none;
}

/* form .form-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary);
  box-shadow: 0 0 2px #ffc600, 0 0 10px #ffc600, 0 0 20px #ffc600,
    0 0 30px #ffc600, 0 0 40px #ffc600, 0 0 50px #ffc600;
  backdrop-filter: blur(2px);
  padding: 45px;
  z-index: 2;
  align-items: center;
  border-radius: 22px;
} */


form .form-inner .form-group {
  width: 350px;
  margin-bottom: 25px;
}


.form-control {
  background-color: var(--color-day-white);
  color: black !important;
}


/* form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: var(--color-day-white);

  color: var(--primary);
  border-radius: 0px;
  transition: 0.4s;
} */

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px var(--primary);
}

form .form-inner .form-group select:focus {
  box-shadow: 0px 0px 3px var(--primary);
}

form .form-inner .form-group textarea {
  color: var(--primary);
}

form .form-inner input[type="auth"] {
  display: block;
  padding: 12px 15px;
  border-radius: 6px;
  background-color: var(--color-day-yellow);
  background-size: 200%;
  text-align: center !important;
  width: 100% !important;
  background-position: 0%;
  transition: 0.4s;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.iconSpace {
  margin-right: 8px;
  font-size: 20px;
  display: flex;
  color: var(--color-day-yellow);
}

.error {
  display: block;
  color: rgba(255, 0, 0, 0.733);
  margin-bottom: 10px;
}

.login video {
  position: fixed;
  z-index: -1;
}

.register-text {
  margin-top: 0.6rem !important;
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.register-text strong {
  cursor: pointer;
}


.or-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.4rem;
}

/* .or-div p {
  margin-bottom: 8px !important;
  padding: 0rem 1rem;
  color: white;
} */

/* .or-div .hr-div {
  width: 105px;
  color: var(--primary) !important;
} */

.hr-div hr {
  height: 5px;
}

.google-login-div {
  margin: 0 auto;
  width: 100%;
  display: contents;
}

.google-login-btn {
  margin-top: 0.8rem;
  width: 100%;
  padding: 12px 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--color-day-yellow);
  color: var(--color-day-black);
  cursor: pointer;
}


.google-login-icon {
  margin-right: 10px;
  font-size: 20px;
  color: var(--color-day-yellow);
}

option:nth-child(0) {
  color: #ffc600 !important;
}

.form-headings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-bottom: 0.8rem;
}

.form-headings h2 {
  cursor: pointer;
  padding-bottom: 0.8rem;
  color: var(--color-day-black);
}

.form-headings .active {
  border-bottom: 2px solid var(--color-day-yellow);
  padding-bottom: 0.8rem;
  /* color: var(--color-day-yellow); */
}

.checkbox-div {
  margin-top: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.checkbox-div label {
  margin-left: 0.4rem;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-day-black);
}

.tandc-text {
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.tanc-text p {
  text-align: center !important;  
}

.reg-interest {
  margin-top: 1.4rem;
  font-weight: 500;
  text-decoration: underline;
  letter-spacing: 0.7px;
  background-color: transparent;
  color: #fff;
  border: none;
}

.reg-interest:hover {
  cursor: pointer;
  color: var(--color-day-yellow);
}

.only-mb {
  margin-top: 0 !important;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-background video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-web-login {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); 

  opacity: 1;
  transition: opacity 2s; /* Add the opacity transition */
  animation: fade-in 6s;
}



@keyframes fade-in {
  0% {
    opacity: 0;
  }

   10% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  /* 80% {
    opacity: 0;
  }

   90% {
    opacity: 0;
  } */

  100% {
    opacity: 1;
  }
}



@media screen and (max-width: 768px) {
  .login-form-btn {
    width: auto !important;
  }

  .form-headings {
    margin-bottom: 0;
  }

  form .form-inner h2 {
    font-size: 18px;
  }

  form .form-inner .form-group {
    margin-bottom: 20px;
    width: 290px;
  }

  .forget-pwd {
    margin-bottom: 20px;
  }

  .checkbox-div {
    margin-bottom: 20px;
  }

  .checkbox-div label {
    font-size: 12px;
  }
}

@media screen and (max-width: 472px) {
  .login-form {
    width: 100%;
  }

  .google-login-btn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  form .form-inner .form-group {
    width: 275px;
  }

  .google-login-btn {
    width: 100%;
  }
}

@media screen and (max-width: 326px) {
  form .form-inner .form-group {
    width: 200px;
  }

  .google-login-btn {
    font-size: 0.6rem;
  }
}
.form .form-inner {
  background-color: var(--color-day-white) !important;
}
