@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--color-day-black);
  background: linear-gradient(
    180deg,
    var(--color-gradient-one) -34.49%,
    var(--color-gradient-two) 51.43%
  );
}

.light-theme {
  --color-day-white: #ffffff;
  --color-day-grey: #f5f5f5;
  --color-day-yellow: #fddd4e;
  --color-day-red: #ff2e2e;
  --color-day-green: #16c784;
  --color-day-greydark: #cfcfcf;
  --color-day-black: #000000;
  --color-gradient-one: #f5f5f5;
  --color-gradient-two: #f5f5f5;
  --color-forecasts-card: #ffffff;
  --color-forecasts-card-series-index: rgba(0, 0, 0, 0.5);
  --color-grid-border: #d9d9d9;
  --color-footer-border: #a6a6a6;
  --color-footer-cr: #000000c0;
  --color-black-opcaity: rgba(0, 0, 0, 0.5);
  --color-stats-bg: #c9c9c9;
  --forecasts-model-name: #676767;
  --forecasts-model-index: #d9d9d9;
  --color-box-shadow: rgba(0, 0, 0, 0.5);
  --color-dropdown-bg: #fff;
  --color-toggle-border: #fff;
  --color-box-shadow-day: rgba(0, 0, 0, 0.5);
  --color-code-snippet: #cfcfcf;
  --color-nav-submenu: #fff;
}

.dark-theme {
  --color-day-white: #000000;
  --color-day-grey: rgba(67, 87, 117, 0.4);
  --color-day-yellow: #fddd4e;
  --color-day-red: #ff2e2e;
  --color-day-green: #16c784;
  --color-day-greydark: #03132c;
  --color-day-black: #ffffff;
  --color-gradient-one: #002850;
  --color-gradient-two: #000000;
  --color-forecasts-card: rgba(67, 87, 117, 0.4);
  --color-forecasts-card-series-index: rgba(255, 255, 255, 0.5);
  --color-grid-border: rgba(67, 87, 117, 0.4);
  --color-footer-border: #43577566;
  --color-footer-cr: #ffffff6e;
  --color-black-opcaity: rgba(255, 255, 255, 0.5);
  --color-stats-bg: rgba(67, 87, 117, 0.4);
  --forecasts-model-name: #ffffff;
  --forecasts-model-index: #03132c;
  --color-box-shadow: rgba(0, 0, 0, 0.5);
  --color-dropdown-bg: #03132c;
  --color-toggle-border: #43577577;
  --color-box-shadow-day: rgba(255, 255, 255, 0.2);
  --color-code-snippet: rgba(67, 87, 117, 0.4);
  --color-nav-submenu: rgba(67, 87, 117);

}

.btn {
  border: none;
  background-color: var(--color-day-yellow);
  color: black;
  border-radius: 10px !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 4rem 3.4rem;
}

@media screen and (min-width: 1880px) {
  .container {
    width: 68%;
  }
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: var(--color-day-black);
}

h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-day-black);
}

h3 {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-day-black);
}

p {
  font-weight: 400;
  font-size: 14px;
  margin-top: 8px;
  color: var(--color-day-black);
}

@media screen and (max-width: 568px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 11px;
  }

  p {
    font-size: 10px;
    margin-top: 6px;
  }
}

/* MUI CSS */
.MuiTablePagination-displayedRows {
  margin-top: 0px;
}

.MuiTablePagination-actions {
  color: var(--color-day-black);
}

.css-1j7qk7u {
  font-size: 0.9rem !important;
}

/* .MuiDataGrid-columnHeaderTitleContainerContent:hover .MuiDataGrid-columnHeaderTitleContainerContent button{
  display: none;
} */

.css-h5074s .MuiDataGrid-columnHeader:focus-within,
.css-h5074s .MuiDataGrid-cell:focus-within {
  outline: 0 !important;
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
  color: var(--color-day-black) !important;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

.MuiDataGrid-menuIcon {
  display: none !important;
}

.css-1wkmng3-MuiDataGrid-root .MuiDataGrid-cell {
  font-size: 11px !important;
}

.css-1wkmng3-MuiDataGrid-root {
  font-size: 0.8rem !important;
}

.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
  color: var(--color-day-black) !important;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: 0 !important;
}

.MuiDataGrid-columnHeader {
  outline: 0 !important;
}

.MuiButtonBase-root .MuiIconButton-root {
  width: 20px !important;
  color: var(--forecasts-model-index) !important;
}

.css-1yxmbwk {
  color: var(--color-stats-bg) !important;
  width: 11px !important;
  padding: 0 !important;
  margin-left: 4px !important;
}

form:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: 1;
  background-color: var(--color-day-yellow);
  border-radius: 22px;
  display: none;
}

form .form-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
  z-index: 2;
  align-items: center;
  margin-top: 1.2rem;
}

form .form-inner h2 {
  /* color: var(--color-day-yellow); */
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}

.form-inner .form-group label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  transition: 0.3s;
  line-height: 15px;
  letter-spacing: 0.6px;
  color: var(--color-day-black);
}

.form-inner .form-group:focus-within label {
  color: var(--color-day-yellow);
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: var(--color-forecasts-card);
  color: var(--color-day-black);
  border-radius: 6px;
  transition: 0.4s;
  border: 0.5px solid var(--color-box-shadow);
}

form .form-inner .form-group input:focus {
  /* box-shadow: 0px 0px 3px rgba(0,0,0, 0.2); */
  box-shadow: 0px 0px 3px var(--color-day-yellow);
}

form .form-inner .form-group textarea {
  color: black;
}

form .form-inner input[type="submit"] {
  display: block;
  padding: 10px 15px;
  border-radius: 8px;
  color: #000000;
  background-color: var(--color-day-yellow);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  font-weight: 700;
  cursor: pointer;
  /* margin: 0 auto; */
}

form .form-inner input[type="submit"]:hover {
  background-position: 100% 0%;
  transform: scale(1.1);
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.forget-pwd {
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.forget-pwd p{
  margin-top: 12px;
}

.iconSpace {
  margin-right: 8px;
  font-size: 20px;
  color: var(--color-day-yellow);
}

.error {
  display: block;
  color: rgba(255, 0, 0, 0.733);
  margin-bottom: 10px;
}
/* Login css */

/* Apex CSS */
.apexcharts-legend-series {
  display: flex;
  align-items: center;
}

.resources-container {
  padding: 0rem;
}

.resources {
  display: flex;
}

.res-sidebar {
  width: 27%;
}

.res-textual {
  width: 100%;
}

.apexcharts-legend-text {
  color: var(--color-day-black) !important;
}

/* PDF CSS */

.react-pdf__Page__canvas {
  display: flex;
  user-select: none;
  width: 100% !important;
  height: 100% !important;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  object-fit: cover;
  margin-top: 1.5rem !important;
}

.react-pdf__Page__textContent {
  display: none !important;
}

.react-pdf__Page__annotations {
  display: none !important;
}

.candle-canvas {
  padding: 2rem 0rem !important;
  /* overflow-y: auto !important;
  overflow: scroll !important;
  overflow-x: auto !important; */
}

.negative-chart .container {
  padding: 2rem 0rem;
}

a:hover {
  background-color: transparent !important;
}

a {
  display: flex;
  align-items: center;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

/* Timer CSS */
.timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box p {
  font-size: 12px;
  margin-top: 0;
}

.timer:hover {
  color: var(--color-day-yellow);
}

@media screen and (max-width: 568px) {
  .apexcharts-toolbar {
    display: none !important;
  }

  .apexcharts-yaxis-label tspan {
    font-size: 7px !important;
  }

  .apexcharts-xaxis-label tspan {
    font-size: 7px !important;
  }

  .candle-canvas {
    padding: 1rem 0rem !important;
  }

  .negative-chart .container {
    padding: 1rem 0rem;
  }

  .resources {
    flex-direction: column;
  }

  .res-sidebar {
    width: 100%;
  }

  .donut-chart {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

.apexcharts-yaxis-texts-g {
  transform: translate(-28px, -5px) !important;
}

.canvasjs-chart-credit {
  display: none !important;
}

.amcharts-AmChartsLogo-group {
  display: none !important;
}

.canvasjs-chart-canvas {
  width: 100% !important;
}

.canvas-main-div .container {
  padding: 4rem 0rem;
}

.dataGrid-spline div {
  width: 100px !important;
  height: 80px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-performing-spline div {
  width: 220px !important;
  height: 110px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comparison-spline {
  width: 290px !important;
  height: 110px !important;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.compare-charts {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.candle-chart .container {
  padding: 3rem 0rem;
}

@media screen and (max-width: 568px) {
  .comparison-spline {
    width: 110px !important;
    height: 110px !important;
  }

  .compare-charts {
    width: 120px;
    height: 90px;
  }
}

.pagination {
  top: -6.3vh;
  width: 100%;
  justify-content: center !important;
  align-items: center !important;
  display: flex;
  position: relative;
  bottom: inherit;
}

@media screen and (min-width: 3768px) {
  .pagination {
    top: -2.5vh !important;
  }
}

@media screen and (min-width: 2512px) {
  .pagination {
    top: -3.7vh;
  }
}

@media screen and (min-width: 1440px) {
  .pagination {
    top: -4.3vh;
  }
}

@media screen and (max-width: 1300px) {
  .best-performing-spline div {
    width: 200px !important;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    margin-top: 6px;
    color: var(--color-day-black);
  }
}

@media screen and (max-width: 1060px) {
  .css-1aumtv5 {
    width: 200px !important;
  }
}

@media screen and (max-width: 1020px) {
  .css-1aumtv5 {
    width: 175px !important;
  }
}

@media screen and (max-width: 968px) {
  .css-1aumtv5 {
    width: 145px !important;
  }
}

@media screen and (max-width: 885px) {
  .css-1aumtv5 {
    width: 115px !important;
  }
}

@media screen and (max-width: 885px) {
  .css-1aumtv5 {
    width: 100px !important;
  }
}

@media screen and (max-width: 568px) {
  .pagination {
    top: -4.9vh;
  }
}

/* MUI ALL TIME DROP DOWN */

.css-1bhbp2c::after {
  border: none !important;
}

.css-1cccqvr {
  color: var(--color-day-black) !important;
}

.css-1cccqvr:focus {
  background-color: transparent !important;
}

.css-1utq5rl {
  color: var(--color-day-black) !important;
  width: 0.8em !important;
  height: 0.8em !important;
}

.css-oxt0b5::after {
  border-bottom: 2px solid var(--color-day-yellow) !important;
}

.css-1wkhih1 {
  color: var(--color-day-black) !important;
  width: 0.8em !important;
  height: 0.8em !important;
}

.css-177ic5c {
  background-color: var(--color-dropdown-bg) !important;
  color: var(--color-day-black) !important;
}

.css-1km1ehz {
  font-size: 12px !important;
  color: var(--color-day-black) !important;
}

.css-1km1ehz.Mui-selected {
  background-color: var(--color-day-yellow) !important;
  color: #000000 !important;
}

.css-3cccal {
  border-bottom: 2px solid var(--color-day-yellow) !important;
}

.css-3cccal::before {
  border: none !important;
}

.css-3cccal::after {
  border: none !important;
}

.css-3cccal:hover {
  border-color: var(--color-day-yellow) !important;
}

.css-p0rm37 {
  color: var(--color-day-black) !important;
  font-size: 12px !important;
  top: -6px !important;
}

.css-oapmtd {
  background-color: var(--color-dropdown-bg) !important;
}

.css-gbhmnp::after {
  border-bottom: none !important;
}

@media screen and (max-width: 568px) {
  .css-1km1ehz {
    min-height: 38px !important;
    padding: 3px 12px !important;
  }

  /* MUI CURRENCY AND MODEL DROPDOWNS */
  .css-p0rm37 {
    top: -10px !important;
  }
}
/* MUI ALL TIME DROP DOWN */

/* MUI CURRENCY AND MODEL DROPDOWNS */
.MuiOutlinedInput-root {
  padding: 0px !important;
}

.css-1aumtv5 .MuiOutlinedInput-root .MuiAutocomplete-input {
  font-size: 12px !important;
}

.css-1ald77x {
  color: var(--color-day-yellow) !important;
}

.css-1ald77x.Mui-focused {
  color: var(--color-day-yellow) !important;
}

.css-vubbuv {
  color: var(--color-day-black) !important;
  width: 0.8em !important;
  height: 0.8em !important;
}

.css-4ebdde .MuiOutlinedInput-root .MuiAutocomplete-input {
  padding: 8.3px 4px 8.3px 6px !important;
}

.css-u9osun {
  top: -7px !important;
}

.css-segi59 {
  color: var(--color-day-black) !important;
}

.css-u9osun.Mui-focused {
  color: var(--color-day-yellow) !important;
}

.MuiOutlinedInput-root:focus {
  border-color: var(--color-day-yellow) !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-day-yellow) !important;
}

.css-ue1yok .MuiAutocomplete-option.Mui-focused {
  background-color: var(--color-day-yellow);
  /* color: #000000 !important; */
}

.css-ue1yok {
  padding: 2px 0px !important;
  background-color: var(--color-dropdown-bg) !important;
  color: var(--color-day-black) !important;
}

.css-1k33q06 {
  color: var(--color-day-black) !important;
  width: 0.8em !important;
  height: 0.8em !important;
}

.css-4ebdde .MuiAutocomplete-input {
  font-size: 12px !important;
}

.MuiAutocomplete-option {
  padding: 4px 10px !important;
  font-size: 12px !important;
}

.css-t0bixx {
  padding: 10px 12px !important;
  font-size: 12px !important;
  background-color: var(--color-dropdown-bg) !important;
  color: var(--color-day-black) !important;
}

.MuiAutocomplete-option[aria-selected="true"].Mui-focused {
  background-color: var(--color-day-yellow) !important;
  color: #000000 !important;
}

.css-ue1yok .MuiAutocomplete-option[aria-selected="true"] {
  background-color: var(--color-day-yellow) !important;
  color: #000000 !important;
}
/* MUI CURRENCY AND MODEL DROPDOWNS */

.MuiTablePagination-selectLabel {
  margin-top: 0 !important;
}

.bg-short {
  background-color: var(--color-day-red) !important;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  border-radius: 4.5px;
  background-color: var(--color-stats-bg);
  padding: 2px 5px;
}

.bg-short p {
  color: white !important;
  font-weight: 700 !important;
}

.bg-long {
  background-color: var(--color-day-green) !important;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  border-radius: 4.5px;
  background-color: var(--color-stats-bg);
  padding: 2px 5px;
}

.bg-long p {
  color: white !important;
  font-weight: 700 !important;
  text-align: center;
}

@media screen and (min-width: 568px) {
  .bg-long {
    display: none;
  }

  .bg-short {
    display: none;
  }
}

/*MUI pagination*/
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: var(--color-day-yellow) !important;
  color: black !important;
}
.css-1omp2b7.Mui-selected {
  background-color: var(--color-day-yellow) !important;
  color: black !important;
}
.css-8nphli .MuiTablePagination-actions {
  display: none !important;
}
.MuiTablePagination-actions {
  display: none !important;
}

.MuiTablePagination-displayedRows {
  display: flex !important;
  justify-content: flex-start !important;
}

.css-1omp2b7 {
  color: var(--color-day-black) !important;
}

.css-w0pj6f {
  color: var(--color-day-black) !important;
}

.css-16y9h98 {
  color: var(--color-day-black) !important;
}

@media screen and (max-width: 568px) {
  .css-1omp2b7 {
    font-size: 11px !important;
  }
}

/* ROWS PER PAGE MUI */
.css-whi0l6 {
  z-index: 3 !important;
}

@media screen and (max-width: 568px) {
  .css-whi0l6 {
    display: none !important;
  }

  .css-gbhmnp:hover:not(.Mui-disabled, .Mui-error)::before {
    border-bottom: none !important;
  }

  .css-gbhmnp.css-gbhmnp::before {
    border-bottom: none !important;
  }
}

.css-8nphli {
  z-index: 1 !important;
}

/* MUI GRID FOOTER STYLING */

.css-1yy0dv2 {
  flex-direction: row-reverse !important;
}

.css-whi0l6 {
  width: 100% !important;
}

.css-rmmij8 {
  position: absolute !important;
  right: -16px !important;
}

.css-8nphli {
  width: 100% !important;
  display: flex !important;
  flex-direction: row-reverse !important;
}

.css-whi0l6 .MuiTablePagination-selectLabel {
  position: absolute !important;
  right: 65px !important;
}

.MuiPagination-root {
  position: absolute !important;
  left: 37% !important;
  z-index: 4;
}

.css-1oj2twp-MuiPagination-root {
  position: absolute !important;
  left: 37% !important;
  z-index: 4;
}

.MuiDataGrid-columnHeaderTitleContainerContent strong {
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-1gs62wq {
  color: var(--color-day-black) !important;
}

@media screen and (max-width: 568px) {
  .css-1yy0dv2 {
    justify-content: center !important;
  }

  .MuiPagination-root {
    position: unset !important;
    display: flex !important;
    justify-content: center !important;
  }

  .css-nhb8h9 {
    justify-content: center !important;
  }
}

.series-G1_Pfvwd .titleWrapper-G1_Pfvwd .title-G1_Pfvwd.mainTitle-G1_Pfvwd {
  display: none !important;
}
.selected-G1_Pfvwd .buttons-G1_Pfvwd,
.selected-G1_Pfvwd .buttons-G1_Pfvwd .button-G1_Pfvwd:not(:first-child),
.selected-G1_Pfvwd .buttonsWrapper-G1_Pfvwd,
.selected-G1_Pfvwd .titleWrapper-G1_Pfvwd {
  display: none !important;
}
#tv_chart_container {
  background-color: yellow !important;
}
.container2 {
  width: 77.5%;
  margin: 0 auto;
  height: 400px !important;
  margin-bottom: 7%;
  padding: 4rem 3.4rem;
}
@media screen and (max-width: 480px) {
  .container2 {
    margin-right: 10% !important;
    margin-bottom: 20% !important;
  }
}
.container3 {
  width: 74%;
  margin: 0 auto;
  /* height: 400px !important; */
  padding: 4rem 3.4rem;
}
@media screen and (max-width: 480px) {
  .container3 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 7%;
    padding: 4rem 3.4rem;
  }
}

/* MATH JAX */
mjx-container[jax="SVG"] > svg {
  color: var(--color-day-black);
}
@media screen and (max-width: 568px) {
  mjx-container[jax="SVG"] > svg {
    width: 92%;
    height: 100%;
  }
}

.hidden > div > div:last-child {
  display: none;
}
.canvas > div > div > div > div:first-child {
  display: none;
}
.canvasjs-chart-credit {
  display: none !important;
}

/* MUI BACKTEST PAGE FILTERS */
.css-1x5jdmq {
  padding: 7.5px 4px 7.5px 6px !important;
  font-size: 12px !important;
  color: var(--color-day-black) !important;
}

.css-i44wyl {
  background-color: var(--color-forecasts-card) !important;
  border-radius: 5px !important;
}

.css-1v4ccyo {
  background-color: var(--color-forecasts-card) !important;
}

.css-1uvydh2 {
  padding: 7.5px 0px 7.5px 6px !important;
  font-size: 12px !important;
  color: var(--color-day-black) !important;
}

.css-slyssw {
  margin: 0 !important;
}

.css-84ri5h.Mui-selected {
  background-color: var(--color-day-yellow) !important;
  color: #000000 !important;
  font-size: 11px !important;
}

.css-bekps4 {
  font-size: 11px !important;
  color: var(--color-day-black) !important;
}

.css-10qkmc3 {
  font-size: 12px !important;
  color: var(--color-day-black) !important;
}

.css-1bqdsf2.Mui-selected {
  background-color: var(--color-day-yellow) !important;
  color: #000000 !important;
  font-size: 12px !important;
}

.css-1bqdsf2 {
  font-size: 12px !important;
  color: var(--color-day-black) !important;
}

.css-1v994a0 {
  font-size: 14px !important;
  color: var(--color-day-black) !important;
}

.css-84ri5h.Mui-selected:hover {
  background-color: var(--color-day-yellow) !important;
  color: #000000 !important;
}

.css-1080di7 {
  background-color: var(--color-day-greydark) !important;
}

.css-sldnni {
  color: var(--color-day-black) !important;
}

.css-1cw4hi4 {
  color: var(--color-day-black) !important;
}

.css-1ujsas3 {
  color: var(--color-day-black) !important;
}

.css-14b29qc {
  background-color: var(--color-day-greydark) !important;
}

.css-135mypg {
  background-color: var(--color-day-greydark) !important;
}

.css-9j5nro {
  background-color: var(--color-day-greydark) !important;
}

.css-xzqsgo {
  background-color: var(--color-day-greydark) !important;
}

.css-1bzq5ag {
  color: var(--color-day-black) !important;
}

.css-1d2g9rv {
  color: var(--color-day-black) !important;
}

/* .documentation-container {
  display: flex;
  width: 75%;
  margin: 0 auto;
  padding: 4rem 3.4rem;
}

.documentation-sidebar {
  width: 20%;
  background-color: var(--color-day-white);
  padding: 1rem;
  border-radius: 10px;
}

.documentation-sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.documentation-sidebar li {
  margin-bottom: 0.5rem;
  color: var(--color-day-black);
  padding: 0.5rem;
  cursor: pointer;
}

.documentation-sidebar li.active {
  background-color: var(--color-day-yellow);
  color: black;
  border-radius: 10px;
}

.content {
  flex-grow: 2;
  margin-left: 4%;
  text-align: left;
}

.code-container {
  background-color: var(--color-day-white) !important;
  width: auto;
  border-radius: 10px;
}

.code-title {
  color: #00ffff;
  margin-top: 0;
}

pre.language-python {
  background-color: var(--color-day-white) !important;
  font-size: 14px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  line-height: 1.5;
  overflow: auto;
  padding: 1em;
  margin: 0;
  border-radius: 4px;
}

pre.language-python code {
  font-family: inherit;
} */

/* API PAGE CSS START */

.documentation .container {
  display: flex;
  padding: 0rem;
}

.side-bar-api {
  min-height: 90vh;
  max-height: 100%;
  background-color: var(--color-forecasts-card);
  width: 27.5%;
  border-top-right-radius: 15px;
  padding: 2rem 0.8rem 2rem 1rem;
  margin-right: 3rem;
  /* overflow-y: scroll; */
}

.documentation-items {
  padding-left: 0.4rem;
}

.documentation-items li {
  list-style: none;
  color: var(--color-day-black);
  padding: 1rem 0.8rem;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-day-black);
  font-weight: 700;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 0.6rem;
  padding-bottom: 2rem;
  width: 100%;
}

.sidebar-documentation {
  position: relative;
  left: -15px;
}

.content h1 {
  margin-bottom: 1rem;
}

.lineheight-docs {
  line-height: 2;
}

.lineheight-docs-list {
  list-style: none;
  line-height: 2;
  margin-left: 1rem;
}

pre[class*="language-"] {
  background: var(--color-code-snippet) !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: none !important;
  color: var(--color-day-black) !important;
}

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: none !important;
  color: var(--color-day-black) !important;
  line-height: 2 !important;
}

.copy {
  position: relative;
  left: 94%;
  top: 33%;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.copy:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.copy svg {
  color: var(--color-day-black);
}

.code-container {
  margin-top: -40px;
}

.content-main-div p {
  margin-top: 0;
}

/* .documentation-items li.active {
  background-color: var(--color-day-yellow);
  color: black;
  border-radius: 10px;
} */

@media screen and (max-width: 768px) {
  .copy {
    display: none;
  }

  .code-container {
    margin-top: 0px;
  }
}

@media screen and (max-width: 568px) {
  .side-bar-api {
    display: none;
  }

  .documentation .container {
    flex-direction: column;
  }

  .side-bar-api-mobile {
    padding: 1rem !important;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    font-size: 12px !important;
  }

  .copy {
    display: none;
  }

  .code-container {
    margin-top: 0px;
  }
}

/* API PAGE CSS END */



/* LOGIN/SIGN UP POPUP STYLES */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  background-color: var(--color-day-white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  position: relative;
}

.popup__close {
  position: absolute;
  top: 18px;
  right: 18px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  color: var(--color-day-black);
}

@media screen and (max-width: 768px) {
  .popup__content {
    max-height: 100%;
    padding: 16px;
  }

  .popup__close {
    top: 15px;
    right: 15px;
    font-size: 20px;
  }
}



/* MAIN WEB LOGIN PAGE */

.main-web-form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.main-web-form-inner {
  justify-content: center;
  height: 88%;
  margin-top: 0 !important;
}
