.performance-line-charts .container {
    padding: 0rem 0rem 3rem 0rem;
}

.performance-line-charts-inner {
    display: flex;
    justify-content: space-between;
}

.kelly-one {
    width: 100%;
    justify-content: flex-start;
    align-self: center;
    display: flex;
}

